@page
@model MyCoreApp.Pages.LoginModel
@{
}
<div class="card">
	<h2 style="display:flex; justify-content:center;">Login Page</h2>

	<input type="text" placeholder="Enter username" id="username" />
	<input type="password" placeholder="Enter password" id="password" />
	<button class="btn" type="submit" onclick="login()">Login</button>
</div>